{% extends "layout.html" %}

{% block content %}

    <body>
        <h1> Add a Recipe</h1>

        <form method="POST" action="/add_recipe">

<!-- keep track of last author ID in system and increment -->
<!--         <p> Author Name: <input type="text" placeholder="Enter First & Last Name" name="auth_name"> </p>-->
<!--         <p> Author Email: <input type="text" placeholder="Enter Email" name="auth_email"> </p>-->

<!-- keep track of the quantity of ingredients -->
        <p>Ingredients</p>
        {% for n in ingreds %} 
        <div>{{n.name}} {{n.id}}</div> <input type="text" placeholder="quantity" name="{{n.id}}_quantity"> (units)
        {% endfor %}
        <p>  </p>
        Author
        <select name="author">
                {% for x in db_author %}
                <option value="{{x.author_id}}_{{x.author_name}}">{{x.author_name}}</option>
                {% endfor%}
        </select>
<!-- keep track of last cookware ID in system and increment -->
        Cookware
        <select name="cookware">
                {% for x in db_cookware %}
                <option value="{{x.cookware_id}}_{{x.cookware_name}}">{{x.cookware_name}}</option>
                {% endfor%}
        </select>
        <p> Check here if the cookware is electric: <input type="radio" name="is_electric"> </p>

<!-- keep track of last cuisine ID in system and increment -->
        Region
        <select name="cuisine">
                {% for x in db_cuisine %}
                <option value="{{x.cuisine_id}}_{{x.cuisine_name}}">{{x.cuisine_name}}</option>
                {% endfor%}
        </select>
    
<!-- keep track of last dish ID in system and increment -->
        <p> Dish Name: <input type="text" placeholder="Name of Dish" name="dish_name"> </p>
        <p> Instructions: <input type="text" placeholder="Description" name="instructions"> </p>
        <p> Estimated prep time: <input type="text" placeholder="Prep Time in Minutes" name="prep_time"> </p>
        <p> Check here if this dish is spicy: <input type="radio" name="is_spicy"> </p>
        
        
        <input class="btn btn-default" type="submit" value="Add New Recipe">
        
    </form>
    </body>
{% endblock %}