{% extends "layout.html" %}

{% block content %}

    <body>
        <h1> Add a Recipe</h1>

        <form method="POST" action="/add_ingredient">
            <p> Enter the number (1-10) of ingredients in your recipe:  </p>
            <input type="number" id="ingre_count" name="ingre_count" min="1" max="10">
            <input type="submit" value="Enter">
        </form>

        <form method="POST" action="/enter_ingredient">
            
            <select name="ingredient_name{{n}}">
                {{% for x in existing_ingred%}}
                <option value="{{id}}">{{x}}</option>
                {{% endfor%}}
            </select> 
            {% for n in ingred %} 
            <div class="ingred_input">
            {{n}}. Ingredient Name: <input placeholder="Name of Ingredient" type="text" name="ingredient_name{{n}}"> 
            Protein: <input type="text" placeholder="Measurement in Grams" name="protein{{n}}">g
            Carb: <input type="text" placeholder="Measurement in Grams" name="carb{{n}}">g
            Fat: <input type="text" placeholder="Measurement in Grams" name="fat{{n}}">g
            Calorie: <input type="text" placeholder="Number of Calorie" name="calorie{{n}}">g
            Units: <input type="text" placeholder="Measurement in Grams" name="units{{n}}">unit(s)
            </div>
            {% endfor %}
            <input type="submit" value="Enter Ingredients">
        </form>
        
        <input class="btn btn-default" type="submit" value="Add New Recipe">
        <p><a href="add_recipe"> Continue to add more details</a></p>

    </body>
{% endblock %}