{% extends "layout.html" %}

{% block content %}

    <body>
        <h1> Add a Recipe</h1>

        <form method="POST" action="/add_ingredient">
            <p> Enter the number (1-10) of ingredients in your recipe:  </p>
            <input type="number" id="ingre_quant" name="ingre_quant" min="1" max="10">>
            <input type="submit" value="Enter">
        </form>

              
        <form method="POST" action="/add_ingredient"> 
            {% for x in  %} 
            keep track of last ingredient ID in system and increment
            Ingredient Name: <input placeholder="Name of Ingredient" type="text" name="ingredient_name"> 
            Protein: <input type="text" placeholder="Measurement in Grams" name="protein">
            Carb: <input type="text" placeholder="Measurement in Grams" name="carb">
            Fat: <input type="text" placeholder="Measurement in Grams" name="fat">
            Calorie: <input type="text" placeholder="Number of Calorie" name="calorie">
            Units: <input type="text" placeholder="Measurement in Grams" name="units">
            {% endfor %}
        </form>
        
        <input class="btn btn-default" type="submit" value="Add New Recipe">
        <p><a href="add_recipe"> Continue to add more details</a></p>

    </body>
{% endblock %}