<html>
    <head><meta charset="utf-8"></head>
    <head>
        <style>
        body{
            font-size: 15pt;
            font-family: arial;
            text-align: center;
        }
        </style>

    </head><body>
        
        <div class="container">
            <h1>Author login</h1>
            <br>
            <form method="POST" action="/auth_login">
              <input type="text" placeholder="Author ID" name="id">
              <input type="pswd" placeholder="Password" name="pswd">
              <input class="btn btn-default" type="submit" value="Login">
            </form>
            {% if error %}
              <p class="error"><strong>Error:</strong> {{ error }}
            {% endif %}
        </div>
        <p><a href="/"> Switch to User Login</a></p>
        <p><a href="signup_page"> Register an account with us!</a></p>

</body></html>