{% extends "layout.html" %}

{% block content %}

<body>
  <h2>Recipe of the Week</h2>
  {% if mode.search==False %}
  <form method="POST" action="/sort">
    <input type="radio" id="pop_desc" name="sorting" value="pop_desc"> Popularity (High to Low)
    <input type="radio" id="calorie_asc" name="sorting" value="calorie_asc"> Calorie (Low to High)
    <input type="radio" id="prep_asc" name="sorting" value="prep_asc"> Prep Time (Low to High)

    <input type="radio" id="calorie_desc" name="sorting" value="calorie_desc"> Calorie (High to Low)
    <input type="radio" id="prep_desc" name="sorting" value="prep_desc"> Prep Time (High to Low)
    <div><input type="submit" value="Sort"></div>
</form>
{% endif %}
{% if mode.search %}
<p>Search results for "{{mode.search}}"</p>
{% endif %}


  <p>Recipe of the Week</p>
  <ul class="image_list">
    <!-- [noodle.jpeg, soysauce.jpeg, soybeannoodle.jpeg] -->
    
      <div class="row">
        {% for x in image %}
        <div class="column">
          <a href="/view/{{x.dish_id}}"><img class='tab'src="../static/img/{{ x.image }}" alt="Picture" style='width:100%; height: 230px'></a>
        </div>
        {% endfor %}
      </div>
    
  </ul>
  <ul class="recipe_list">
    {% for n in dish %}
      {% if n.dish_id == "d0" %}
        <div>Sorry, no results meet your criteria.</div>
      {% else %}
        <li><a href="/view/{{n.dish_id}}">{{n.dish_name}}</a></li>
        {% if mode.search %}
        <div class="smaller">(Author: {{n.auth_name}} | Cuisine: {{n.cuisine_name}} | Cookware: {{n.cookware_name}})

        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </ul>

</body>
{% endblock %}
