<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
      color: #7A3803;
    }

    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .nav_bar{
      padding: 10px;
      margin: 0;
      background-color: #FDA172;
      color: #7A3803;
      border-radius: 10px;
    }

    .invisible{
      display: none;
    }

    a:link { 
      color: #7A3803;
      text-decoration: none; }

    .ingred_input{
      margin-bottom: 20px;
      color: #7A3803;
    }

  </style>


<body>
  <title>Recipe Book</title>

  <h1>Recipe Book</h1>
  <div >
    <a class="nav_bar" href="/home">Home</a>
    {% if user_info.user_type=="a" %}
    <a class="nav_bar" href="/add_ingredient">Add Recipe</a>
    {% else %}
    <a class="nav_bar" href="/tocollection">My Collection</a>
    <a class="nav_bar" href="/tofollowing">My Following</a>
    <a class="nav_bar" href="/recs_page">Recommend</a>
    {% endif %}
    <a class="nav_bar" href="/">Log Out</a>
    <form class="nav_bar" method="POST" action="/search">
      <input type="text" name="keyword"> <input type="submit" value="Search">
    </form>
  </div>


  <div>
    {% block content %}
    {% endblock %}

  </div>
  

</body>


</html>
