{% extends "layout.html" %}

{% block content %}


    <body>
        <form method="POST" action="/recs">
            Spicy <input type="checkbox" value= "is_spicy" name="preference1">
            Quick <input type="checkbox" value="prep_time" name="preference2">
            Diet <input type="checkbox" value="calorie" name="preference3">
            Liked <input type="checkbox" value="liked" name="preference4">
        <input type="submit" value="Recommendations">
        </form>

        <h2>Recipe List</h2>
        <ul class="recipe_list">
            {% for n in dish %}
            {% if n.dish_id == "d0" %}
              <div>Sorry, no results meet your criteria.</div>
            {% else %}
            <li><a href="/view/{{n.dish_id}}">{{n.dish_name}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>

    </body>
{% endblock %}