
{% block content %}

    <body>
        <h1>Please register your information</h1>

        <form method="POST" action="/signup">
            User ID: <input type="text" name="user_id" value="Add EID">
            Name: <input type="text" name="name" value="Add Name">
            Password: <input type="text" name="password" value="Add Password">
            Email: <input type="text" name="email" value="Add Email">
            <input type="submit" value="Signup">
        </form>
    
    </body>

{% endblock %}