{% extends "layout.html" %}

{% block content %}

    <body>
        <h1>Please register your information</h1>

        <form method="POST" action="/signup">
            <p> User ID: <input type="text" name="user_id"> <input type="submit" value="Add EID"></p>
            <p> Name: <input type="text" name="name"> <input type="submit" value="Add Name"></p>
            <p> Password: <input type="text" name="password"> <input type="submit" value="Add Password"></p>
            <p> Email: <input type="text" name="email"> <input type="submit" value="Add Email"></p>
        </form>
    
    </body>

{% endblock %}