
{% block content %}

    <body>
        <h1>Please register your information</h1>

        <form method="POST" action="/signup">
            User ID: <input type="text" name="user_id" placeholder="Add EID">
            Name: <input type="text" name="name" placeholder="Add Name">
            Password: <input type="text" name="password" placeholder="Add Password">
            Email: <input type="text" name="email" placeholder="Add Email">
            <input type="submit" value="Signup">
        </form>
    
    </body>

{% endblock %}