{% extends "layout.html" %}

{% block content %}

<body>
  <h2>Chef: {{info.auth_name}}</h2>
  {% if user_info.id!='guest0' %}
    {% if info.followed==False %}
    <form method="POST" action="/follow">
      <input class="invisible" type="text" name="id" value="{{info.auth_id}}"> <input type="submit" value="Follow">
    </form>
    {% else %}
    <form method="POST" action="/unfollow">
      <input class="invisible" type="text" name="id" value="{{info.auth_id}}"> <input type="submit" value="Unfollow">
    </form>
    {% endif %}
  {% endif %}
  <h3>Contact: {{info.auth_email}}</h3>

  <h3>Chef Menu:</h3>
  <ul class="recipe_list">
    {% for n in dish %}
    <li><a href="/view/{{n.dish_id}}">{{n.dish_name}}</a></li>
    {% endfor %}
  </ul>
</body>

{% endblock %}