{% extends "layout.html" %}

{% block content %}

<body>
  
  <h2>{{info.dish_name}} ({{info.cuisine}})</h2>
  <div class="like_follow">{{info.likes}} Likes</div>
  {% if user_info.id!='guest0' %}
    {% if info.liked==False %}
    <form method="POST" action="/like">
      <input class="invisible" type="text" name="id" value="{{info.dish_id}}"> <input type="submit" value="Like">
    </form>
    {% else %}
    <form method="POST" action="/unlike">
      <input class="invisible" type="text" name="id" value="{{info.dish_id}}"> <input type="submit" value="Unlike">
    </form>
    {% endif %} 
  {% endif %}
  
  

  <h3>Chef: <a href="/view_auth/{{info.auth_id}}">{{info.auth_name}}</a></h3>
  <div class="like_follow">{{info.follows}} Followers</div>
  {% if user_info.id!='guest0' %}
    {% if info.followed==False %}
    <form method="POST" action="/followv">
      <input class="invisible" type="text" name="id" value="{{info.auth_id}}">
      <input class="invisible" type="text" name="dish_id" value="{{info.dish_id}}">
      <input type="submit" value="Follow">
    </form>
    {% else %}
    <form method="POST" action="/unfollowv">
      <input class="invisible" type="text" name="id" value="{{info.auth_id}}">
      <input class="invisible" type="text" name="dish_id" value="{{info.dish_id}}"> 
      <input type="submit" value="Following">
    </form>
    {% endif %}
  {% endif %}
  

  <h3>Prep Time: {{info.prep_time}} min</h3>
  <h3>Spicy: {{info.spicy}}, Cookware: {{info.cookware}}({{info.electric}})</h3>

  <h3>Ingredient List</h3>
  <ul class="ingredient_list">
    {% for n in ingredient %}
    <li>{{n.name}}, {{n.measure}}</li>
    {% endfor %}
  </ul>

  <h3>Instruction</h3>
  <div>{{info.instruction}}.</div>

  <h3>Nutritional Facts</h3>
  <ul class="nutrient_list">
    {% for n in ingredient %}
    <li>{{n.name}}: {{n.carb}}g carb + {{n.protein}}g protein + {{n.fat}}g fat = {{n.calorie}}cal </li>
    {% endfor %}
  </ul>
  <div>Total: {{info.cal}} cal</div>
</body>

{% endblock %}